<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjetSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C5F88091E2CBDFD008E5829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C5F88201E2CBDFE008E5829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C5F882B1E2CBDFE008E5829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
